<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="app.envelop"
  >

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_descriptor"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    >

    <activity
      android:name=".ui.faq.FaqActivity"
      android:label="@string/faq_title"
      android:theme="@style/AppTheme.Color"
      />

    <activity
      android:name=".ui.main.MainActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme.Splash"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.login.LoginActivity"
      android:label="@string/login_title"
      android:theme="@style/AppTheme.Color"
      >
      <intent-filter
        android:autoVerify="true"
        tools:targetApi="m"
        >
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="@string/blockstack_app_domain"
          android:pathPrefix="/redirect_mobile"
          android:scheme="https"
          />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="redirect_mobile"
          android:scheme="envelop"
          />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.upload.UploadActivity"
      android:label="@string/upload_title"
      >
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.share.ShareActivity"
      android:label="@string/doc_share"
      android:parentActivityName=".ui.main.MainActivity"
      />

    <activity
      android:name=".ui.donate.DonateActivity"
      android:label="@string/donate"
      android:theme="@style/AppTheme.Color"
      />

    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts"
      />

    <service android:name=".background.UploadBackgroundService" />

  </application>
</manifest>
